/* Counter Configuration */
body {
    counter-reset: h1 h2 h3 h4 h5 h6;
}
.autonumber.autonumber-0 {
    counter-increment: h1;
    counter-reset: h2;
}
.autonumber.autonumber-1 {
	counter-increment: h2;
	counter-reset: h3;
}
.autonumber.autonumber-2 {
	counter-increment: h3;
	counter-reset: h4;
}
.autonumber.autonumber-3 {
	counter-increment: h4;
	counter-reset: h5;
}
.autonumber.autonumber-4 {
	counter-increment: h5;
	counter-reset: h6;
}
.autonumber.autonumber-5 {
	counter-increment: h6;
}

.autonumber.autonumber-0.autonumber-restart {
	counter-reset: h1;
}
.autonumber.autonumber-1.autonumber-restart {
  counter-reset: h2;
}
.autonumber.autonumber-2.autonumber-restart {
  counter-reset: h3;
}
.autonumber.autonumber-3.autonumber-restart {
  counter-reset: h4;
}
.autonumber.autonumber-4.autonumber-restart {
  counter-reset: h5;
}
.autonumber.autonumber-5.autonumber-restart {
  counter-reset: h6;
}


/* Counter Content
 * N = number
 * A = upper-alpha
 * a = lower-alpha
 * R = upper-roman
 * r = lower-roman
 */

/* Default */
.autonumber.autonumber-0:before {
    content: counter(h1) ". ";
}
.autonumber.autonumber-1:before {
    content: counter(h1) "." counter(h2) ". ";
}
.autonumber.autonumber-2:before {
    content: counter(h1) "." counter(h2) "." counter(h3) ". ";
}
.autonumber.autonumber-3:before {
    content: counter(h1) "." counter(h2) "." counter(h3) "." counter(h4) ". ";
}
.autonumber.autonumber-4:before {
    content: counter(h1) "." counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) ". ";
}
.autonumber.autonumber-5:before {
    content: counter(h1) "." counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) "." counter(h6) ". ";
}

/* N */

.autonumber.autonumber-0.autonumber-N:before {
    content: counter(h1) ". ";
}
.autonumber.autonumber-1.autonumber-N:before {
    content: counter(h2) ". ";
}
.autonumber.autonumber-2.autonumber-N:before {
    content: counter(h3) ". ";
}
.autonumber.autonumber-3.autonumber-N:before {
    content: counter(h4) ". ";
}
.autonumber.autonumber-4.autonumber-N:before {
    content: counter(h5) ". ";
}
.autonumber.autonumber-5.autonumber-N:before {
    content: counter(h6) ". ";
}

/* A */

.autonumber.autonumber-0.autonumber-A:before {
    content: counter(h1, upper-alpha) ". ";
}
.autonumber.autonumber-1.autonumber-A:before {
    content: counter(h2, upper-alpha) ". ";
}
.autonumber.autonumber-2.autonumber-A:before {
    content: counter(h3, upper-alpha) ". ";
}
.autonumber.autonumber-3.autonumber-A:before {
    content: counter(h4, upper-alpha) ". ";
}
.autonumber.autonumber-4.autonumber-A:before {
    content: counter(h5, upper-alpha) ". ";
}
.autonumber.autonumber-5.autonumber-A:before {
    content: counter(h6, upper-alpha) ". ";
}

/* a */

.autonumber.autonumber-0.autonumber-a:before {
    content: counter(h1, lower-alpha) ". ";
}
.autonumber.autonumber-1.autonumber-a:before {
    content: counter(h2, lower-alpha) ". ";
}
.autonumber.autonumber-2.autonumber-a:before {
    content: counter(h3, lower-alpha) ". ";
}
.autonumber.autonumber-3.autonumber-a:before {
    content: counter(h4, lower-alpha) ". ";
}
.autonumber.autonumber-4.autonumber-a:before {
    content: counter(h5, lower-alpha) ". ";
}
.autonumber.autonumber-5.autonumber-a:before {
    content: counter(h6, lower-alpha) ". ";
}

/* R */

.autonumber.autonumber-0.autonumber-R:before {
    content: counter(h1, upper-roman) ". ";
}
.autonumber.autonumber-1.autonumber-R:before {
    content: counter(h2, upper-roman) ". ";
}
.autonumber.autonumber-2.autonumber-R:before {
    content: counter(h3, upper-roman) ". ";
}
.autonumber.autonumber-3.autonumber-R:before {
    content: counter(h4, upper-roman) ". ";
}
.autonumber.autonumber-4.autonumber-R:before {
    content: counter(h5, upper-roman) ". ";
}
.autonumber.autonumber-5.autonumber-R:before {
    content: counter(h6, upper-roman) ". ";
}

/* r */

.autonumber.autonumber-0.autonumber-r:before {
    content: counter(h1, lower-roman) ". ";
}
.autonumber.autonumber-1.autonumber-r:before {
    content: counter(h2, lower-roman) ". ";
}
.autonumber.autonumber-2.autonumber-r:before {
    content: counter(h3, lower-roman) ". ";
}
.autonumber.autonumber-3.autonumber-r:before {
    content: counter(h4, lower-roman) ". ";
}
.autonumber.autonumber-4.autonumber-r:before {
    content: counter(h5, lower-roman) ". ";
}
.autonumber.autonumber-5.autonumber-r:before {
    content: counter(h6, lower-roman) ". ";
}
