/* Counter Configuration */
body {
    counter-reset: autonumber-0 autonumber-1 autonumber-2 autonumber-3 autonumber-4 autonumber-5;
}
.autonumber.autonumber-0 {
    counter-increment: autonumber-0;
    counter-reset: autonumber-1;
}
.autonumber.autonumber-1 {
	counter-increment: autonumber-1;
	counter-reset: autonumber-2;
}
.autonumber.autonumber-2 {
	counter-increment: autonumber-2;
	counter-reset: autonumber-3;
}
.autonumber.autonumber-3 {
	counter-increment: autonumber-3;
	counter-reset: autonumber-4;
}
.autonumber.autonumber-4 {
	counter-increment: autonumber-4;
	counter-reset: autonumber-5;
}
.autonumber.autonumber-5 {
	counter-increment: autonumber-5;
}

.autonumber.autonumber-0.autonumber-restart {
	counter-reset: autonumber-0;
}
.autonumber.autonumber-1.autonumber-restart {
  counter-reset: autonumber-1;
}
.autonumber.autonumber-2.autonumber-restart {
  counter-reset: autonumber-2;
}
.autonumber.autonumber-3.autonumber-restart {
  counter-reset: autonumber-3;
}
.autonumber.autonumber-4.autonumber-restart {
  counter-reset: autonumber-4;
}
.autonumber.autonumber-5.autonumber-restart {
  counter-reset: autonumber-5;
}


/* Counter Content
 * N = number
 * A = upper-alpha
 * a = lower-alpha
 * R = upper-roman
 * r = lower-roman
 */

/* Default */
.autonumber.autonumber-0:before {
    content: counter(autonumber-0) ". ";
}
.autonumber.autonumber-1:before {
    content: counter(autonumber-0) "." counter(autonumber-1) ". ";
}
.autonumber.autonumber-2:before {
    content: counter(autonumber-0) "." counter(autonumber-1) "." counter(autonumber-2) ". ";
}
.autonumber.autonumber-3:before {
    content: counter(autonumber-0) "." counter(autonumber-1) "." counter(autonumber-2) "." counter(autonumber-3) ". ";
}
.autonumber.autonumber-4:before {
    content: counter(autonumber-0) "." counter(autonumber-1) "." counter(autonumber-2) "." counter(autonumber-3) "." counter(autonumber-4) ". ";
}
.autonumber.autonumber-5:before {
    content: counter(autonumber-0) "." counter(autonumber-1) "." counter(autonumber-2) "." counter(autonumber-3) "." counter(autonumber-4) "." counter(autonumber-5) ". ";
}

/* N */

.autonumber.autonumber-0.autonumber-N:before {
    content: counter(autonumber-0) ". ";
}
.autonumber.autonumber-1.autonumber-N:before {
    content: counter(autonumber-1) ". ";
}
.autonumber.autonumber-2.autonumber-N:before {
    content: counter(autonumber-2) ". ";
}
.autonumber.autonumber-3.autonumber-N:before {
    content: counter(autonumber-3) ". ";
}
.autonumber.autonumber-4.autonumber-N:before {
    content: counter(autonumber-4) ". ";
}
.autonumber.autonumber-5.autonumber-N:before {
    content: counter(autonumber-5) ". ";
}

/* A */

.autonumber.autonumber-0.autonumber-A:before {
    content: counter(autonumber-0, upper-alpha) ". ";
}
.autonumber.autonumber-1.autonumber-A:before {
    content: counter(autonumber-1, upper-alpha) ". ";
}
.autonumber.autonumber-2.autonumber-A:before {
    content: counter(autonumber-2, upper-alpha) ". ";
}
.autonumber.autonumber-3.autonumber-A:before {
    content: counter(autonumber-3, upper-alpha) ". ";
}
.autonumber.autonumber-4.autonumber-A:before {
    content: counter(autonumber-4, upper-alpha) ". ";
}
.autonumber.autonumber-5.autonumber-A:before {
    content: counter(autonumber-5, upper-alpha) ". ";
}

/* a */

.autonumber.autonumber-0.autonumber-a:before {
    content: counter(autonumber-0, lower-alpha) ". ";
}
.autonumber.autonumber-1.autonumber-a:before {
    content: counter(autonumber-1, lower-alpha) ". ";
}
.autonumber.autonumber-2.autonumber-a:before {
    content: counter(autonumber-2, lower-alpha) ". ";
}
.autonumber.autonumber-3.autonumber-a:before {
    content: counter(autonumber-3, lower-alpha) ". ";
}
.autonumber.autonumber-4.autonumber-a:before {
    content: counter(autonumber-4, lower-alpha) ". ";
}
.autonumber.autonumber-5.autonumber-a:before {
    content: counter(autonumber-5, lower-alpha) ". ";
}

/* R */

.autonumber.autonumber-0.autonumber-R:before {
    content: counter(autonumber-0, upper-roman) ". ";
}
.autonumber.autonumber-1.autonumber-R:before {
    content: counter(autonumber-1, upper-roman) ". ";
}
.autonumber.autonumber-2.autonumber-R:before {
    content: counter(autonumber-2, upper-roman) ". ";
}
.autonumber.autonumber-3.autonumber-R:before {
    content: counter(autonumber-3, upper-roman) ". ";
}
.autonumber.autonumber-4.autonumber-R:before {
    content: counter(autonumber-4, upper-roman) ". ";
}
.autonumber.autonumber-5.autonumber-R:before {
    content: counter(autonumber-5, upper-roman) ". ";
}

/* r */

.autonumber.autonumber-0.autonumber-r:before {
    content: counter(autonumber-0, lower-roman) ". ";
}
.autonumber.autonumber-1.autonumber-r:before {
    content: counter(autonumber-1, lower-roman) ". ";
}
.autonumber.autonumber-2.autonumber-r:before {
    content: counter(autonumber-2, lower-roman) ". ";
}
.autonumber.autonumber-3.autonumber-r:before {
    content: counter(autonumber-3, lower-roman) ". ";
}
.autonumber.autonumber-4.autonumber-r:before {
    content: counter(autonumber-4, lower-roman) ". ";
}
.autonumber.autonumber-5.autonumber-r:before {
    content: counter(autonumber-5, lower-roman) ". ";
}

/*
styles for List: 1. 1. 1.
inspired by these:
https://stackoverflow.com/questions/4098195/can-ordered-list-produce-result-that-looks-like-1-1-1-2-1-3-instead-of-just-1
https://stackoverflow.com/questions/10405945/html-ordered-list-1-1-1-2-nested-counters-and-scope-not-working/10405962
http://jsfiddle.net/qGCUk/4/
*/
ol.list-decimal-point, ol.list-decimal-point ol {
    counter-reset: item
}
ol.list-decimal-point li {
    display: block
}
ol.list-decimal-point li:before {
    content: counters(item, ".") " "; counter-increment: item
}
